html {
  @apply text-base;
}

body {
  @apply bg-body font-primary font-normal leading-relaxed text-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-bold leading-tight text-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

//fotogalerie

.fotogalerie {
  padding-top: 50px;
  .title {
    grid-column: 1;
    text-align: center;
    padding: 120px 0;
    font-size: xx-large;
    font-weight: 500;
  }
  .year-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .image1 {
      grid-column: 2;
    }
    .image2 {
      padding: 30px;
      padding-left: 15px;
      padding-top: 40px;
      padding-bottom: 20px;
      grid-column: 3;
      margin: 2px;
    }
    .clickable-image {
      padding-left: 10px;
      padding-bottom: 25px;
      width: 300px;
      opacity: 0.4;
    }
  }
  .alternate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .image1 {
      padding: 25px;
      padding-left: 35px;
      padding-bottom: 20px;
      padding-right: 20px;
      grid-column: 2;
      margin-left: 30px;
    }
    .image2 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 25px;
      grid-column: 3;
      margin-left: 20px;
    }
    .clickable-image {
      width: 300px;
      padding-top: 10px;
      padding-left: 15px;
      padding-bottom: 10px;
    }
  }
}
@media all and (max-width: 440px) {
  .fotogalerie {
    .title {
      grid-column: 1;
      text-align: center;
      padding: 90px 0;
      font-size: xx-large;
      font-weight: 500;
    }
    .year-section {
      display: block;
      .image1 {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
      }
      .image2 {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
      }
      .clickable-image {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
      }
    }
  }
}

//Minulý ročník

main {
  .segment {
    .container {
      width: 100%;
      .text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        width: 100%;
        grid-column: 2;
        .part-1 {
          padding: 190px 0;
          background-color: #edf6f5;
        }
        .part-2,
        .part-4 {
          padding: 90px 0;
          background-color: #c4e2dedc;
        }
        .part-3 {
          padding: 50px 0;
          padding-right: 20px;
          padding-left: 20px;
          background-color: #edf6f5;
          width: 100%;
        }
        .words {
          letter-spacing: 0.01cm;
          margin: 20px;
        }
        .name {
          margin: 70px 0;
          grid-row: 1;
          grid-column: 1 / span 2;
        }
        .min-img-2,
        .min-img-4 {
          margin: 50px;
          grid-column: 1;
          width: 450px;
        }
        .min-img-1,
        .min-img-3 {
          margin: 70px;
          grid-column: 2;
          width: 560px;
        }
        .min-img-1 {
          grid-row: 2;
        }
        .min-img-2 {
          grid-row: 3;
        }
        .min-img-3 {
          grid-row: 4;
        }
        .min-img-4 {
          grid-row: 5;
        }
      }
    }
  }
}
@media all and (max-width: 400px) {
  main {
    .segment {
      .container {
        width: 100%;
        .text {
          display: block;
          text-align: center;
          width: 100%;
          padding-left: 15px;
          padding-right: 15px;

          .part-1 {
            padding: 190px 0;
            background-color: #edf6f5;
          }
          .part-2,
          .part-4 {
            padding: 90px 0;
            background-color: #c4e2dedc;
          }
          .part-3 {
            background-color: #edf6f5;
            width: 100%;
          }
          .words {
            letter-spacing: 0.01cm;
            margin: 20px;
          }
          .min-img-1,
          .min-img-2,
          .min-img-3,
          .min-img-4 {
            margin: 0;
            padding: 80px 0;
          }
          .words {
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
    }
  }
}

