---
import { Image } from 'astro:assets'
import Base from "@layouts/Base.astro";
import Cta from "@layouts/components/Cta.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const fotogalerie = await getEntryBySlug( "fotogalerie", "index");
const {  years } = fotogalerie.data;
console.log(fotogalerie, years)
---

<Base>

  <section class="fotogalerie"> 
  {
    years!.map((yearData, index) => {
       const alternateClass = index % 2 > 0 ? 'alternate' : 'default';
      return (
        <section class={`year-section ${alternateClass}`}>
          <Image class="image1"
                src={yearData!.image1}
                width={538}
                height={328}
                alt=""
              />
          <Image class="image2"
              src={yearData!.image2}
              width={538}
              height={328}
              alt=""
            />
          <a href={yearData.remainingPhotosLink}></a>  
        </section>
      );
    })
  }
  </section>

</Base>

