---
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
const entry = await getEntryBySlug("pages", "minuly-rocnik");
const { Content } = await entry.render();
---

<Base title={entry.data.title}>
  
  <section class="segment">
    <div class="container">
      <div class="text">
        <h1 class="name">Minulý ročník</h1>
        <div class="part-1">
          <h4 class="subject">Datum a místo</h4>
          <p class="words">
            Minulý ročník proběhl od 26. 7. do 9. 8. 2025 v Bílém Potoce 
            v&nbsp;Jizerských horách. Sešel se skvělý kolektiv 20 účastníků a 8 organizátorů. 
          </p>
        </div>
        <img class="min-img-1" src="/images/hry-2025.jpg" />
        <div class="part-2">
          <h4 class="subject">Téma</h4>
          <p class="words">
            Účastníci byli vybráni jako nadějní budoucí kosmonauti pro cestu na vzdálenou planetu a její následné osídlení. Ještě na Zemi prošli základním výcvikem, poté si sami sestavili odpalovací rampu na raketu a vydali se na dlouhou cestu vesmírem. Během ní si museli zvyknout na uzavřené prostory lodi a odhalit impostery. Kvůli technickým poruchám dokonce musela být několikrát vyhlášena evakuace. Celá posádka se nicméně se všemi komplikacemi zvládla vypořádat a podařilo se doletět až k vybrané planetě. Ale po přistání bylo zjištěno, že osidlování tak jednoduché nebude, protože planeta je už obydlená. Ale s nimi se účastnící dokázali domluvit a získali pro sebe část území.
          </p>
        </div>
        <img class="min-img-2" src="/images/neco-2025.jpg" />
        <div class="part-3">
          <h4 class="subject">Hry a výlety</h4>
          <p class="words">
            Hry byly skutečně různorodé. Některé byly sportovnější jako třeba Regulace reaktoru nebo Odpalování asteroidů. Z těch strategičtějších mělo velký úspěch předávání
            informací přes Pošťáka Trolla. Na výlet jsme vyrazili na Frýdlantské cimbuří  
            a&nbsp;na večerní procházku na Kočičí kameny.
          </p>
        </div>
        <img class="min-img-3" src="/images/vylet-2025.jpg" />
        <div class="part-4">
          <h4 class="subject">Odborný program</h4>
          <p class="words">
            Během celého soustředění probíhaly VKM (Večerní kurzy matematiky) na
            téma Symetrie, které vedl jeden z organizátorů. Získané znalosti se budou účastníkům
            při dalším studiu určitě hodit. Zároveň nás přijelo navštívit mnoho
            přednášejících, mezi nimi děkan FJFI doc. Václav Čuba s přednáškou o fotochemii nebo doc. Lubomíra Dvořáková 
            s přednáškou na téma kombinatoriky na slovech. 
            Dále proběhla soutěž ve stavění mostů z papíru, při které bylo cílem 
            nejen postavit most s co nejvyšší nosností, ale také proměřit a popsat jeho parametry.
          </p>
        </div>
        <img class="min-img-4" src="/images/prednasky-2025.jpg" />
      </div>
    </div>
  </section>
</Base>
